# Transformar cadenas
En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.
El texto con el que trabajarás es el siguiente:

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."

In [5]:
# Primero, divide el texto en cada oración para trabajar con su contenido
text = "Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \n On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."
text_div = text.split('.')
text_div

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \n On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [ ]:
#Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho
palabras_clave = ["average","temperature","distance"]

In [30]:
#Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente
palabras_clave = ["average","temperature","distance"]

for i in text_div:
    for clave in palabras_clave:
        if i.find(clave) > 1:
            print(i)

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [32]:
#Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius
for i in text_div:
    print(i.replace('C','Celcius'))

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth

 On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 Celcius

# Formateando Cadenas
En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

Gravity Facts about Ganymed
_______________________
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2

In [56]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

# Creamos el título
heading = f'gravity facts about {name}'.title()

# Creamos la plantilla
datos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2
"""

In [57]:
# Unión de ambas cadenas
union_datos = f"""{heading.title()} 
{datos} 
""" 
print(union_datos)

Gravity Facts About Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [61]:
#Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

name = "Ganímedes"
gravity = 0.00143 # in kms
planet = "Marte"
print(union_datos)

Gravity Facts About Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [65]:
# Nueva plantilla
new_plant = """Gravity Facts about {}
-------------------------------------------------------------------------------
Planet name: {} 
Gravity on {}: {} m/s2"""
print(new_plant.format(name, planet, name, gravity*1000))

Gravity Facts about Ganímedes
-------------------------------------------------------------------------------
Planet name: Marte
Gravity on Ganímedes: 1.4300000000000002 m/s2

In [68]:
# Pista: print(nueva_plantilla.format(variables))
print(new_plant.format(name, planet, name, gravity*1000))

Gravity Facts about Ganímedes
-------------------------------------------------------------------------------
Planet name: Marte
Gravity on Ganímedes: 1.4300000000000002 m/s2